version: "3.9"

services:
  redis:
    image: redis:7-alpine
    restart: always
    env_file:
      - .env
    command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
    ports:
      - "6379:6379"

  postgres:
    image: postgres:18
    restart: always
    env_file:
      - .env.docker
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - pgdata:/var/lib/postgresql

  backend:
    image: alexkuklev835/summary-bot-backend:latest
    restart: always
    env_file:
      - .env.docker
    depends_on:
      - postgres
      - redis
    ports:
      - "3000:3000"

  frontend:
    image: alexkuklev835/summary-bot-frontend:latest
    restart: always
    env_file:
      - .env
    depends_on:
      - backend
    ports:
      - "5173:5173"

  migrate:
    image: alexkuklev835/summary-bot-backend:latest
    restart: "no"
    env_file:
      - .env
    depends_on:
      - postgres
    command: ["sh", "-lc", "pnpm drizzle-kit migrate --config drizzle.config.ts"]


volumes:
  pgdata:

