version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: summary-redis
    ports:
      - "6379:6379"

  postgres:
    image: postgres:18
    container_name: postgres
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "15432:5432"
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
